/* * derma.css */
html, body {
	font-family: Source Sans Pro, sans-serif;
	margin: 0 auto;
	width: 1280px;
}
html {
  position: relative;
  min-height: 100%;
}

h1,h2,h3 {font-family: Raleway, Georgia, serif;}
h2 {color: #59574C;}

td {
	font-size: 0.9em;
}

#headericons {float:right;}
#headericons td img {width: 65px;}
#headericons td {text-align: center; color: #999;}
#headericons td:hover {color: #FFF; cursor: pointer;}
.navbar {margin-bottom: 40px;}
.navbar-brand {font-family: Raleway, Georgia;font-size: 30px; font-weight: 600; color: #81b061 !important;}

.links {margin-right: 120px;}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

td.nowrap {white-space: nowrap;}

.knoppen li {
    float: left;
}

.knoppen li a {
    display: block;
    text-align: center;
    text-decoration: none;
}
.col-md-6 {float: right !important;}
fieldset label {vertical-align: top;}

div.alert {width: 50%;}
.formitem {color: #080; font-weight: bold;}

.container {margin: 0 auto 0px; padding: 0 5px; max-width: 1250px;}

.inactief {color: #aaa;}
.deletebtn form {margin-bottom: 0;}
input[type=checkbox] {zoom: 2;}
h3 {padding: 10px; background-color: #81b061; color: #000;}
fieldset {padding: 15px; margin: 15px; background-color: #eff6ef; border: 1px solid #aaa;}
input[type=checkbox] {vertical-align: bottom;}
.navbar-inverse {background-color: rgb(142,0,98);}
a {color: #81b061;}
.btn-primary {background-color: #81b061; color: #FFF; border-color: #AAA; float: right;}
.btn-normaal {background-color: #DDDDBB; color: #000; border-color: #AAA; }

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.1);
}
footer { 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #59574C;}
footer a {color: #81b061;}
#export td, #switches td {font-size: 0.85em;padding: 5px; vertical-align: top;}
#agenda th, #recent th, #logboek th, #agenda td, #recent td, #logboek td {font-size: 1em; padding: 5px; vertical-align: top;}
#momenten th, #momenten td {font-size: 1.05em; padding: 5px; vertical-align: top;}
#momenten th, #logboek th, #recent th {border-bottom: 1px solid #aaa;}
p.terug {text-align: left; height: fit-content;}
p.terug button {float: none;}

#exportvelden {list-style: none;}
#exportvelden li {border: 2px solid #59574C; border-radius: 4px; width: fit-content; margin-bottom: 4px; padding: 0 10px;
	background-color: #81b061; cursor: pointer;}
#exportvelden li input[type=checkbox] {vertical-align: middle;}
#exportlijst {color: #000; background-color: #FFF; padding: 10px;}

.slide-placeholder {
	background: #DADADA;
	position: relative;
}
.slide-placeholder:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	background-color: #FFF;
}

.agendakop {font-family: Raleway, Georgia; font-size: 19px; border-bottom: 1px solid #999;}
.okeevinkje {font-size: 125%; color: green;}
button {border-radius: 3px;}
button.filter {background-color: #81b061;}
button.onzichtbaar {background-color: #d05050;}
button:focus {outline: none;}
#doorschuiven { list-style-type: none; padding-left: 0; margin-top: 10px;}
#doorschuiven li {float: left; padding-right: 20px;}
#doorschuiven li label {width: auto;}
*:focus {outline-color: #81b061;}
.infoblokje {margin: 10px; padding: 10px; border: 2px solid #81b061; float: right;}
footer {background-color: #FFF; clear: both; text-align: center; vertical-align: bottom; margin-top: 60px; box-sizing: border-box; box-shadow: 2px -2px 9px -4px rgba(0,0,0,0.04);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;}
.spacer {height: 120px;}
.tag {background-color: #81b061; color: white; border-radius: 6px; padding: 3px 5px;margin-bottom: 1px; white-space: nowrap;}
.tagbutton {font-size: 1.1em; cursor: pointer;}
.btn {padding: .2rem .75rem;}
.wijzigmoment, .wijzigbijeenkomst {display: none; border: 2px solid #81b061; padding: 10px 10px 50px 10px; background-color: white;" }
